<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.server.mapper.UserMapper">
    <select id="findByUsername" resultType="org.example.server.dataobject.User">
        SELECT * FROM users WHERE username = #{username}
    </select>

    <insert id="insertUser">
        INSERT INTO users (username, password, email, created_at)
        VALUES (#{user.username}, #{user.password}, #{user.email}, NOW())
    </insert>
</mapper>